body {
    font-family: "sans-serif";
    overflow: hidden;
    font-size: small;
}

/* general style stuff */

button {
    border-width: 2px 0 0 2px;
    padding: 1px 3px 1px 3px; */
    border-color: #ddd;
    outline: solid #000 2px;
    background-color: #aaa;
    margin: 1px;
    /* font-family : topaz, "Lucida Console", monospace, Monaco;     */
    color: #000;
    display: table-cell;
}

button:hover {
    background-color: #ddd;
}

button.selected {
    border-color: #aaa;
    background-color: white;
}


div.title {
    background-color: rgb(170,170,170);
    width: 100%;
    font-weight: bold;
    text-align: center;
}

div.container {
    padding: 3px;
    max-height: 100%;
    overflow-y: auto;
    border-bottom: 1px solid grey;
}

div.subcontainer {
    padding: 3px;
}

.invisible {
    display: none;
}

.inert {
    pointer-events: none;
}

.selected {
    background-color: rgb(230,230,230);
}

.droppable * {
    pointer-events: none;
}


/* drawing */

div.drawing {
    width: 100%;
    height: 100%;
}

div.drawing > div.frame {
    outline: 2px dashed lightgrey;
    background-color: white;
    position: absolute;
    left: 100px;
    top: 50px;
    width: 200px;
    height: 300px;
    cursor: url("../images/cursor.gif") 10 10,auto;
}

canvas.layer {
    position: absolute;
    pointer-events: none;
}

.layers td {
    vertical-align: top;
}

.layers .placeholder {
    width: 100%;
    height: 10px;
    background: rgb(150,150,150);
}

.layer-preview {
    padding: 3px;
    position: relative;
}

.layer-preview img {
    display: block;
    width: 100%;
    /* height: 100px; */
    /* outline: 1px solid grey; */
    background-color: white;
}

.layer-preview.selected img {
    outline: 2px solid black;
}

.layer-preview  input {

}


/* brushes */

div.container.brushes {
    max-height: 200px;
    overflow-y: auto;
}

.container.brushes table {
    border-spacing: 0;
}


.container.brushes tr {
    padding: 2px;
    float: none;
    /* border: 1px solid black; */
}

canvas.brush-preview {
    padding: 3px;
    margin: 0 3px;
    background-color: white;
}

.container.brushes .description {
    font-size: small;
}

/* tools */

.tool img {
    display: inline;
    margin: 0;
    padding: 0;
    pointer-events: none;
}

.tools button {
    padding: 0;
}

/* palette */

table.palette {
    width: 100%;
    border-spacing: 0;
}

.palette td.swatch {
    padding: 0;
}

.palette .swatch > div {
    width: 100%;
    height: 20px;
}

.palette .swatch.selected {
    outline: 2px solid black;
}

.palette .swatch.selected > div {
    outline: 1px solid white;
}

.palette input.color {
    margin: 0;
    padding: 0;
    width: 95%;
}

.palette input.color.red {
    color: red;
}


/* actions */ 

.actions table {
    width: 100%;
    border-spacing: 0;
}

.action .desc {
    width: 100%;
    font-size: small;
}

.action .icon {
    display: block;
    padding: 0 2px;

}

.action .brush {
    text-align: center;
    min-width: 16px;

}

.action.redo {
    opacity: 0.5;
}

.action td.swatch {
    min-width: 16px;
}


tr.action:hover {
    background-color: white;
}


/* selection region */

.region {
    position: relative;
    width: 100%;
    height: 100%;
}

.region .outer {
    position: absolute;
}

.region .inner-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    outline: 2px solid lightgrey;
}

.region .inner-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    outline: 2px dashed grey;
    pointer-events: auto;
}

.region .inner-2:hover {
    background-color: rgba(255,0,0,0.1);
}

.region .handle {
    position: absolute;
    background-color: red;
    width: 10px;
    height: 10px;
    outline: 2px solid rgba(255,255,255,0.5);
    pointer-events: auto;
}

.region .handle.topleft {
    left: -12px;
    top: -12px;
}

.region .handle.topright {
    right: -12px;
    top: -12px;
}

.region .handle.bottomright {
    right: -12px;
    bottom: -12px;
}

.region .handle.bottomleft {
    left: -12px;
    bottom: -12px;
}


img.layer.preview {
    background: red;
}


/* status */

div.message {
    float: left;
}

div.coordinates {
    float: right;
}
